@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#hs_cos_wrapper_widget_1691401120183 hr {
    border: 0 none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(204, 204, 204, 1.0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 80%;
}

a.cta_button {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    vertical-align: middle
}

.hs-breadcrumb-menu {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}

.hs-breadcrumb-menu-item {
    float: left;
    padding: 10px 0px 10px 10px
}

.hs-breadcrumb-menu-divider:before {
    content: 'вЂє';
    padding-left: 10px
}

.hs-featured-image-link {
    border: 0
}

.hs-featured-image {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%
}

@media (max-width: 568px) {
    .hs-featured-image {
        float: none;
        margin: 0;
        width: 100%;
        max-width: 100%
    }
}

.hs-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px
}

#hs_cos_wrapper_widget_1691401120183 hr {
    border: 0 none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(204, 204, 204, 1.0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 80%;
}





#hs_cos_wrapper_widget_1688464585814 hr {
    border: 0 none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(204, 204, 204, 1.0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}



@font-face {
    font-family: "Lexend Deca";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/300.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/300.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/regular.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/500.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/500.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/600.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/600.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/regular.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lexend_Deca/700.woff2") format("woff2"), url("/_hcms/googlefonts/Lexend_Deca/700.woff") format("woff");
}


#hs_cos_wrapper_widget_1691400663056 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 28px !important;
    line-height: 36px !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691400663056 p,
#hs_cos_wrapper_widget_1691400663056 li,
#hs_cos_wrapper_widget_1691400663056 span,
#hs_cos_wrapper_widget_1691400663056 label,
#hs_cos_wrapper_widget_1691400663056 h1,
#hs_cos_wrapper_widget_1691400663056 h2,
#hs_cos_wrapper_widget_1691400663056 h3,
#hs_cos_wrapper_widget_1691400663056 h4,
#hs_cos_wrapper_widget_1691400663056 h5,
#hs_cos_wrapper_widget_1691400663056 h6 {
    font-size: 28px !important;
    line-height: 36px !important;
    color: #FFFFFF !important
}

#hs_cos_wrapper_widget_1691400140105 {
    display: block !important;
    padding-right: 0px !important
}

#hs_cos_wrapper_widget_1697027368974 {
    color: #bf2b2b !important;
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1697027368974 p,
#hs_cos_wrapper_widget_1697027368974 li,
#hs_cos_wrapper_widget_1697027368974 span,
#hs_cos_wrapper_widget_1697027368974 label,
#hs_cos_wrapper_widget_1697027368974 h1,
#hs_cos_wrapper_widget_1697027368974 h2,
#hs_cos_wrapper_widget_1697027368974 h3,
#hs_cos_wrapper_widget_1697027368974 h4,
#hs_cos_wrapper_widget_1697027368974 h5,
#hs_cos_wrapper_widget_1697027368974 h6 {
    color: #bf2b2b !important
}

#hs_cos_wrapper_module_1691401248740 {
    background-color: #000000 !important;
    background-image: none !important;
    color: #FFFFFF !important;
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_module_1691401248740 p,
#hs_cos_wrapper_module_1691401248740 li,
#hs_cos_wrapper_module_1691401248740 span,
#hs_cos_wrapper_module_1691401248740 label,
#hs_cos_wrapper_module_1691401248740 h1,
#hs_cos_wrapper_module_1691401248740 h2,
#hs_cos_wrapper_module_1691401248740 h3,
#hs_cos_wrapper_module_1691401248740 h4,
#hs_cos_wrapper_module_1691401248740 h5,
#hs_cos_wrapper_module_1691401248740 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_widget_1691405147028 {
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691409768144 {
    color: #FFFFFF !important;
    display: block !important;
    padding-bottom: 10px !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691409768144 p,
#hs_cos_wrapper_widget_1691409768144 li,
#hs_cos_wrapper_widget_1691409768144 span,
#hs_cos_wrapper_widget_1691409768144 label,
#hs_cos_wrapper_widget_1691409768144 h1,
#hs_cos_wrapper_widget_1691409768144 h2,
#hs_cos_wrapper_widget_1691409768144 h3,
#hs_cos_wrapper_widget_1691409768144 h4,
#hs_cos_wrapper_widget_1691409768144 h5,
#hs_cos_wrapper_widget_1691409768144 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_widget_1687768185458 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_widget_1687768185458 p,
#hs_cos_wrapper_widget_1687768185458 li,
#hs_cos_wrapper_widget_1687768185458 span,
#hs_cos_wrapper_widget_1687768185458 label,
#hs_cos_wrapper_widget_1687768185458 h1,
#hs_cos_wrapper_widget_1687768185458 h2,
#hs_cos_wrapper_widget_1687768185458 h3,
#hs_cos_wrapper_widget_1687768185458 h4,
#hs_cos_wrapper_widget_1687768185458 h5,
#hs_cos_wrapper_widget_1687768185458 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_1691484578773 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_1691484578773 p,
#hs_cos_wrapper_module_1691484578773 li,
#hs_cos_wrapper_module_1691484578773 span,
#hs_cos_wrapper_module_1691484578773 label,
#hs_cos_wrapper_module_1691484578773 h1,
#hs_cos_wrapper_module_1691484578773 h2,
#hs_cos_wrapper_module_1691484578773 h3,
#hs_cos_wrapper_module_1691484578773 h4,
#hs_cos_wrapper_module_1691484578773 h5,
#hs_cos_wrapper_module_1691484578773 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_dnd_area-module-6 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_16914846897032 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_module_16914846897032 p,
#hs_cos_wrapper_module_16914846897032 li,
#hs_cos_wrapper_module_16914846897032 span,
#hs_cos_wrapper_module_16914846897032 label,
#hs_cos_wrapper_module_16914846897032 h1,
#hs_cos_wrapper_module_16914846897032 h2,
#hs_cos_wrapper_module_16914846897032 h3,
#hs_cos_wrapper_module_16914846897032 h4,
#hs_cos_wrapper_module_16914846897032 h5,
#hs_cos_wrapper_module_16914846897032 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_16914846897037 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_16914846897037 p,
#hs_cos_wrapper_module_16914846897037 li,
#hs_cos_wrapper_module_16914846897037 span,
#hs_cos_wrapper_module_16914846897037 label,
#hs_cos_wrapper_module_16914846897037 h1,
#hs_cos_wrapper_module_16914846897037 h2,
#hs_cos_wrapper_module_16914846897037 h3,
#hs_cos_wrapper_module_16914846897037 h4,
#hs_cos_wrapper_module_16914846897037 h5,
#hs_cos_wrapper_module_16914846897037 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_module_16914846897038 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_1691484695120 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_module_1691484695120 p,
#hs_cos_wrapper_module_1691484695120 li,
#hs_cos_wrapper_module_1691484695120 span,
#hs_cos_wrapper_module_1691484695120 label,
#hs_cos_wrapper_module_1691484695120 h1,
#hs_cos_wrapper_module_1691484695120 h2,
#hs_cos_wrapper_module_1691484695120 h3,
#hs_cos_wrapper_module_1691484695120 h4,
#hs_cos_wrapper_module_1691484695120 h5,
#hs_cos_wrapper_module_1691484695120 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_16914846951206 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_16914846951206 p,
#hs_cos_wrapper_module_16914846951206 li,
#hs_cos_wrapper_module_16914846951206 span,
#hs_cos_wrapper_module_16914846951206 label,
#hs_cos_wrapper_module_16914846951206 h1,
#hs_cos_wrapper_module_16914846951206 h2,
#hs_cos_wrapper_module_16914846951206 h3,
#hs_cos_wrapper_module_16914846951206 h4,
#hs_cos_wrapper_module_16914846951206 h5,
#hs_cos_wrapper_module_16914846951206 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_module_16914846951207 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_169140899650910 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_1691409170301 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_widget_1691400663056 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 28px !important;
    line-height: 36px !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691400663056 p,
#hs_cos_wrapper_widget_1691400663056 li,
#hs_cos_wrapper_widget_1691400663056 span,
#hs_cos_wrapper_widget_1691400663056 label,
#hs_cos_wrapper_widget_1691400663056 h1,
#hs_cos_wrapper_widget_1691400663056 h2,
#hs_cos_wrapper_widget_1691400663056 h3,
#hs_cos_wrapper_widget_1691400663056 h4,
#hs_cos_wrapper_widget_1691400663056 h5,
#hs_cos_wrapper_widget_1691400663056 h6 {
    font-size: 28px !important;
    line-height: 36px !important;
    color: #FFFFFF !important
}

#hs_cos_wrapper_widget_1697027368974 {
    color: #bf2b2b !important;
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1697027368974 p,
#hs_cos_wrapper_widget_1697027368974 li,
#hs_cos_wrapper_widget_1697027368974 span,
#hs_cos_wrapper_widget_1697027368974 label,
#hs_cos_wrapper_widget_1697027368974 h1,
#hs_cos_wrapper_widget_1697027368974 h2,
#hs_cos_wrapper_widget_1697027368974 h3,
#hs_cos_wrapper_widget_1697027368974 h4,
#hs_cos_wrapper_widget_1697027368974 h5,
#hs_cos_wrapper_widget_1697027368974 h6 {
    color: #bf2b2b !important
}

#hs_cos_wrapper_module_1691401248740 {
    background-color: #000000 !important;
    background-image: none !important;
    color: #FFFFFF !important;
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_module_1691401248740 p,
#hs_cos_wrapper_module_1691401248740 li,
#hs_cos_wrapper_module_1691401248740 span,
#hs_cos_wrapper_module_1691401248740 label,
#hs_cos_wrapper_module_1691401248740 h1,
#hs_cos_wrapper_module_1691401248740 h2,
#hs_cos_wrapper_module_1691401248740 h3,
#hs_cos_wrapper_module_1691401248740 h4,
#hs_cos_wrapper_module_1691401248740 h5,
#hs_cos_wrapper_module_1691401248740 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_widget_1691400140105 {
    display: block !important;
    padding-right: 0px !important
}

#hs_cos_wrapper_widget_1691405147028 {
    display: block !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691409768144 {
    color: #FFFFFF !important;
    display: block !important;
    padding-bottom: 10px !important;
    text-align: center !important
}

#hs_cos_wrapper_widget_1691409768144 p,
#hs_cos_wrapper_widget_1691409768144 li,
#hs_cos_wrapper_widget_1691409768144 span,
#hs_cos_wrapper_widget_1691409768144 label,
#hs_cos_wrapper_widget_1691409768144 h1,
#hs_cos_wrapper_widget_1691409768144 h2,
#hs_cos_wrapper_widget_1691409768144 h3,
#hs_cos_wrapper_widget_1691409768144 h4,
#hs_cos_wrapper_widget_1691409768144 h5,
#hs_cos_wrapper_widget_1691409768144 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_module_1691484695120 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_module_1691484695120 p,
#hs_cos_wrapper_module_1691484695120 li,
#hs_cos_wrapper_module_1691484695120 span,
#hs_cos_wrapper_module_1691484695120 label,
#hs_cos_wrapper_module_1691484695120 h1,
#hs_cos_wrapper_module_1691484695120 h2,
#hs_cos_wrapper_module_1691484695120 h3,
#hs_cos_wrapper_module_1691484695120 h4,
#hs_cos_wrapper_module_1691484695120 h5,
#hs_cos_wrapper_module_1691484695120 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_16914846951206 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_16914846951206 p,
#hs_cos_wrapper_module_16914846951206 li,
#hs_cos_wrapper_module_16914846951206 span,
#hs_cos_wrapper_module_16914846951206 label,
#hs_cos_wrapper_module_16914846951206 h1,
#hs_cos_wrapper_module_16914846951206 h2,
#hs_cos_wrapper_module_16914846951206 h3,
#hs_cos_wrapper_module_16914846951206 h4,
#hs_cos_wrapper_module_16914846951206 h5,
#hs_cos_wrapper_module_16914846951206 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_module_16914846951207 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_16914846897032 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_module_16914846897032 p,
#hs_cos_wrapper_module_16914846897032 li,
#hs_cos_wrapper_module_16914846897032 span,
#hs_cos_wrapper_module_16914846897032 label,
#hs_cos_wrapper_module_16914846897032 h1,
#hs_cos_wrapper_module_16914846897032 h2,
#hs_cos_wrapper_module_16914846897032 h3,
#hs_cos_wrapper_module_16914846897032 h4,
#hs_cos_wrapper_module_16914846897032 h5,
#hs_cos_wrapper_module_16914846897032 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_16914846897037 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_16914846897037 p,
#hs_cos_wrapper_module_16914846897037 li,
#hs_cos_wrapper_module_16914846897037 span,
#hs_cos_wrapper_module_16914846897037 label,
#hs_cos_wrapper_module_16914846897037 h1,
#hs_cos_wrapper_module_16914846897037 h2,
#hs_cos_wrapper_module_16914846897037 h3,
#hs_cos_wrapper_module_16914846897037 h4,
#hs_cos_wrapper_module_16914846897037 h5,
#hs_cos_wrapper_module_16914846897037 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_module_16914846897038 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_widget_1687768185458 {
    color: #FFFFFF !important;
    display: block !important;
    font-size: 26px !important;
    padding-bottom: 2px !important;
    padding-top: 10px !important;
    text-align: left !important
}

#hs_cos_wrapper_widget_1687768185458 p,
#hs_cos_wrapper_widget_1687768185458 li,
#hs_cos_wrapper_widget_1687768185458 span,
#hs_cos_wrapper_widget_1687768185458 label,
#hs_cos_wrapper_widget_1687768185458 h1,
#hs_cos_wrapper_widget_1687768185458 h2,
#hs_cos_wrapper_widget_1687768185458 h3,
#hs_cos_wrapper_widget_1687768185458 h4,
#hs_cos_wrapper_widget_1687768185458 h5,
#hs_cos_wrapper_widget_1687768185458 h6 {
    color: #FFFFFF !important;
    font-size: 26px !important
}

#hs_cos_wrapper_module_1691484578773 {
    color: #FFFFFF !important;
    display: block !important
}

#hs_cos_wrapper_module_1691484578773 p,
#hs_cos_wrapper_module_1691484578773 li,
#hs_cos_wrapper_module_1691484578773 span,
#hs_cos_wrapper_module_1691484578773 label,
#hs_cos_wrapper_module_1691484578773 h1,
#hs_cos_wrapper_module_1691484578773 h2,
#hs_cos_wrapper_module_1691484578773 h3,
#hs_cos_wrapper_module_1691484578773 h4,
#hs_cos_wrapper_module_1691484578773 h5,
#hs_cos_wrapper_module_1691484578773 h6 {
    color: #FFFFFF !important
}

#hs_cos_wrapper_dnd_area-module-6 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_1691409170301 {
    display: block !important;
    padding-top: 10px !important
}

#hs_cos_wrapper_module_169140899650910 {
    display: block !important;
    padding-top: 10px !important
}

.header-row-0-force-full-width-section>.row-fluid {
    max-width: none !important;
}

.dnd_area-row-0-background-image {
    background-image: url('https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-banner.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.dnd_area-row-1-background-image {
    background-image: url('https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-banner-1.jpg') !important;
    background-size: cover !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.dnd_area-row-2-background-image {
    background-image: url('https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-grey-banner.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.dnd_area-row-2-max-width-section-centering>.row-fluid {
    max-width: 850px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dnd_area-row-3-background-color {
    background-color: rgba(0, 0, 0, 1) !important;
}

.dnd_area-row-4-background-image {
    background-image: url('https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-banner.jpg') !important;
    background-size: cover !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.dnd_area-row-4-max-width-section-centering>.row-fluid {
    max-width: 900px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.dnd_area-row-5-background-color {
    background-color: rgba(0, 0, 0, 1) !important;
}

.cell_16913997491796-background-image {
    background-image: url('https://resources.commlabindia.com/hubfs/webinars/corporate-training-with-ai-texture-bg.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.widget_1691400140105-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: end !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: flex-start;
}

.widget_1691400140105-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1691404210455-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1691404210455-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.module_16914846951196-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.module_16914846951196-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.module_1691484689703-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.module_1691484689703-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1687768115680-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: center !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start;
}

.widget_1687768115680-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.widget_1691484898852-flexbox-positioning {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-align: start !important;
    -ms-flex-pack: start;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start;
}

.widget_1691484898852-flexbox-positioning>div {
    max-width: 100%;
    flex-shrink: 0 !important;
}

.footer-row-0-background-color {
    background-color: rgba(8, 44, 68, 1) !important;
}

/* HubSpot Non-stacked Media Query Styles */
@media (min-width:768px) {
    .cell_16913997491793-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }

    .cell_16913997491796-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .cell_16913997491796-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_16913997491795-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .cell_16913997491795-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .dnd_area-column-5-row-1-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }

    .cell_1691484695119-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1691484695119-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_1691484689702-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1691484689702-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_1691408381719-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1691408381719-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_16914089965082-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }

    .cell_16914089965087-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: end !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
    }

    .cell_16914089965087-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_16914089965086-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: end !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
    }

    .cell_16914089965086-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .footer-column-6-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }

    .cell_1686121088644-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1686121088644-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .footer-column-8-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .footer-column-8-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_1686120789875-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1686120789875-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_1688461492600-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_1688461492600-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_1688462060380-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
    }

    .cell_16884620603806-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_16884620603806-vertical-alignment>div {
        flex-shrink: 0 !important;
    }

    .cell_16884620603803-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .cell_16884620603803-vertical-alignment>div {
        flex-shrink: 0 !important;
    }
}

/* HubSpot Styles (default) */
.header-row-0-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dnd_area-row-0-padding {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
}

.dnd_area-row-1-padding {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.dnd_area-row-2-padding {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.dnd_area-row-3-padding {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.dnd_area-row-4-padding {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.dnd_area-row-5-padding {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.cell_16913997491793-row-0-padding {
    padding-top: 20px !important;
}

.cell_16913997491796-padding {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.dnd_area-column-5-row-1-margin {
    margin-bottom: 20px !important;
}

.cell_1691484695119-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cell_1691484689702-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cell_1691408381719-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cell_16914089965082-row-0-margin {
    margin-bottom: 20px !important;
}

.cell_16914089965087-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.cell_16914089965086-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.footer-row-0-padding {
    padding-top: 60px !important;
    padding-bottom: 10px !important;
}

.footer-column-6-margin {
    margin-bottom: 20px !important;
}

.cell_1686121088644-margin {
    margin-bottom: 20px !important;
}

.footer-column-8-margin {
    margin-bottom: 20px !important;
}

.cell_1686120789875-margin {
    margin-bottom: 20px !important;
}

.cell_1688461492600-margin {
    margin-bottom: 20px !important;
}

.cell_1688461721961-margin {
    margin-bottom: 20px !important;
}

.cell_1688462060380-margin {
    margin-top: -10px !important;
}

.cell_1688462060380-row-0-margin {
    margin-top: 20px !important;
}

.cell_16884620603806-margin {
    margin-bottom: 20px !important;
}

.cell_16884620603803-margin {
    margin-bottom: 20px !important;
}

/* HubSpot Styles (mobile) */
@media (max-width: 767px) {
    .dnd_area-row-0-padding {
        padding-bottom: 0px !important;
    }

    .dnd_area-row-1-padding {
        padding-bottom: 0px !important;
    }

    .dnd_area-row-2-padding {
        padding-bottom: 0px !important;
    }

    .dnd_area-row-3-padding {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .dnd_area-row-4-padding {
        padding-bottom: 0px !important;
    }

    .dnd_area-row-5-padding {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.header {
    display: none;
}

.footer {
    display: none;
}

main {
    margin-top: 0px !important;
}

b,
strong {
    font-weight: 600;
}

.dnd_area-row-0-background-image,
.dnd_area-row-1-background-image,
.dnd_area-row-2-background-image,
.dnd_area-row-4-background-image {
    background-attachment: fixed !important;
}

.dnd_area-row-0-background-image #hs_cos_wrapper_widget_1691400140105 {
    z-index: 999
}

.dnd_area-row-0-background-image #hs_cos_wrapper_widget_1691400140105 img {
    /* width:560px;max-width:560px !important;*/
}

.popup-btn .button {
    background-color: #bf2b2b;
    width: 400px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.popup-btn .button svg {
    max-width: 60px
}

h1 {
    font-size: 42px
}

@media (max-width: 767px) {
    .dnd_area-row-0-background-image #hs_cos_wrapper_widget_1691400140105 img {
        width: auto;
        max-width: 100% !important;
    }

    h1 {
        font-size: 32px
    }

    .popup-btn .button {
        width: auto;
        margin: 10px 0
    }
}

#hs_cos_wrapper_header-module-1 .header__top {}

#hs_cos_wrapper_header-module-1 .header__language-switcher-current-label>span {}

#hs_cos_wrapper_header-module-1 .header__language-switcher:hover .header__language-switcher-current-label>span,
#hs_cos_wrapper_header-module-1 .header__language-switcher:focus .header__language-switcher-current-label>span {}

#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:hover,
#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:focus {}

#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:active {}

#hs_cos_wrapper_header-module-1 .header__menu-link {
    color: #2e475d;
    font-size: 18px;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-child-toggle svg {
    fill: #2e475d;
}

#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:hover,
#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:focus {
    color: #0b8484;
    font-weight: 500;
    text-decoration: underline;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
}

#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:active {
    font-weight: 500;
    text-decoration: underline;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    color: #5bd4d4;
}

#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link--active-link {
    color: #2e475d;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

#hs_cos_wrapper_header-module-1 .header__menu-submenu .header__menu-link:hover,
#hs_cos_wrapper_header-module-1 .header__menu-submenu .header__menu-link:focus {}

#hs_cos_wrapper_header-module-1 .button {
    border: 0px none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
}

#hs_cos_wrapper_header-module-1 .button:hover,
#hs_cos_wrapper_header-module-1 .button:focus {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

#hs_cos_wrapper_header-module-1 .button:active {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

#hs_cos_wrapper_footer-module-5 .social-follow {
    justify-content: center;
}

#hs_cos_wrapper_footer-module-5 .social-follow__link {
    margin-right: 10px;
}

#hs_cos_wrapper_footer-module-5 .social-follow__icon {
    background-color: rgba(255, 255, 255, 1.0);
}

#hs_cos_wrapper_footer-module-5 .social-follow__icon svg {
    fill: #ff6633;
    height: 16px;
    width: 16px;
}

#hs_cos_wrapper_footer-module-5 .social-follow__icon:hover,
#hs_cos_wrapper_footer-module-5 .social-follow__icon:focus {
    background-color: rgba(175, 175, 175, 1.0);
}

#hs_cos_wrapper_footer-module-5 .social-follow__icon:active {
    background-color: rgba(255, 255, 255, 1.0);
}

div#hs-eu-cookie-confirmation.can-use-gradients,
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    background-color: #efefef !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    color: #2f4858 !important;
    font-family: AvenirNext, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    letter-spacing: .03rem;
    font-size: 16px !important;
}

/*div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area { text-align: center !important; }*/
/*div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom { border-bottom: 0;bottom: 0;top: auto;box-shadow: 0 -1px 3px #eaf0f6; border-top: 1px solid #cbd6e2 !important;}
div#hs-eu-cookie-confirmation { box-shadow: 0 1px 2px #eaf0f6 !important; } 
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom { position: fixed !important; bottom:0 !important;}*/
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a:first-child {
    color: #2f4858 !important;
    text-decoration: underline !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a:first-child:hover {
    text-decoration: none !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
    display: flex;
    justify-content: center;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area a#hs-eu-confirmation-button {
    font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: #f75 !important;
    border: 0 !important;
    border-radius: 0.1875rem !important;
    box-shadow: none !important;
    color: #fff !important;
    display: inline-block !important;
    line-height: 1.25 !important;
    padding: 0.6rem 1.4rem !important;
    text-shadow: none !important;
    transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out !important;
    width: 100px;
    text-align: center;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-en-cookie-confirmation-buttons-area a#hs-eu-decline-button {
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border: 1px solid #fff !important;
    border-radius: 0.1875rem !important;
    box-shadow: none !important;
    color: #fff !important;
    display: none;
    line-height: 1.25 !important;
    padding: 0.75rem 1.5rem !important;
    text-shadow: none !important;
    transition: 0.15s color ease-out, 0.15s border-color ease-out !important;
}

div#hs-eu-cookie-confirmation {
    position: fixed !important;
    left: 0;
    top: auto !important;
    bottom: 0 !important;
    width: 100%;
    height: auto;
    background-color: #efefef !important;
    border-bottom: 1px solid gray;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px !important;
    line-height: 18px !important;
    font-family: helvetica neue, helvetica, arial, sans !important;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7) !important;
    text-align: left !important;
    z-index: 100000000 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    margin: 0 auto;
    max-width: 1170px !important;
    padding: 15px !important;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #efefef !important;
}

@media (max-width:767px) {
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
        display: inherit;
    }

    div#hs-eu-cookie-confirmation {
        font-size: 18px !important;
        line-height: 20px !important;
    }

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
}

@media (max-width:480px) {
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
        display: inherit;
    }

    div#hs-eu-cookie-confirmation {
        font-size: 18px !important;
        line-height: 20px !important;
    }

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
}

main {
    margin-top: 80px;
}

.header {
    background-color: rgba(255, 255, 255, 1.0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    /* margin-bottom: 80px; */
    /* padding-bottom: 80px; */
}

.header__bottom {
    padding: 10px;
    background-color: rgba(255, 255, 255, 1.0);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

form .hs-form-field {
    margin-bottom: 0.8rem !important;
}

.form-title {
    padding-bottom: 5px !important;
}

form input::placeholder {
    color: #2e475d;
    opacity: 0.7;
}

.go1366308204 {
    opacity: 1 !important;
}

.go2512015367 {
    opacity: 0.9 !important;
}

ul.check_list,
ul.check_list_orange {
    margin-left: 0;
    padding-left: 0.5rem;
}

ul.check_list_orange li,
ul.check_list li {
    position: relative;
    margin: 0rem 0 0.6rem 0 !important;
    padding-left: 1.8rem;
    list-style: none;
}

ul.check_list li:before {
    content: "";
    display: inline-block;
    background: url(https://resources.commlabindia.com/hubfs/images/checkmark-white.svg) center center no-repeat;
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
    top: 6px;
}

ul.check_list_orange li:before {
    content: "";
    display: inline-block;
    background: url(https://resources.commlabindia.com/hubfs/cli-main-site/pillar-pages/checkmark-orange.svg) center center no-repeat;
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
    top: 6px;
}

ul.check_list_orange li ul li {
    list-style-type: square;
    padding-left: 0.3rem;
    margin-bottom: 6px !important
}

ul.check_list_orange li ul li:before {
    display: none !important;
}

ul.check_list_orange li ul {
    margin-top: 0.5em !important;
}